*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}  

body{
  font-family: "Inter", sans-serif;
  /* background: linear-gradient(#412567,black); */
  background: #1A0B2E;
   overflow-x: hidden;
    scrollbar-width: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.container .head-nav{
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.head-nav nav ul{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    list-style: none;
}
.head-nav .threedot{
     display: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border: none;
    background-color: transparent;
}
.btn{
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    color: white;
    font-weight: 600;

    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: rgba(255, 255, 255, 1);
    
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    
}
.link-parent a{
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-size: 1rem;
    font-weight: 500px;
}


.hero{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    border: 1px solid transparent;
    align-items: center;
}
.hero .hero-container{
    max-width: 1200px;
    margin: 101px auto;
    place-items: center;
    text-align: center;
}
.hero-container .mini-icon{
    position: relative;
    width: fit-content;
    margin: auto;
}
.mic{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat; 
     padding: 116px;
}
.badge{
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0 0 10px #00FF88;
    position: absolute;
    transform: translate(80%, 92%);
}
.hero-content h1{
    color: white;
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 8px;
}
.hero-content p{
    color: white;
    font-size: 1rem;
    margin-bottom: 24px;
}
.two-btn .btn-2{
    margin-left: 8px;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    border: 2px solid #00FF88;
}
.btn-2:active{
    color: rgba(251, 9, 180, 1);
    border: 2px solid rgba(251, 9, 180, 1);
}
.actions{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 24px;
}
.btn1{
    width: 200px;
    height: 44px;
    padding: 12px 20px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    gap: 5px;

}
.btn2{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    color: #00FF88;
    background-color: transparent;
    border-color: #00FF88;
    border-radius: 10000px;
    font-weight: 400;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.about-section{
    margin: 0 auto;
}

.about-content{
    text-align: center;
    color: white;
}

.about-h{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-p{
    font-weight: 200;
    margin-bottom: 45px;
    font-size: 1rem;
}
hr{
    border: none;
    background-color: rgba(255, 255, 255, 0.089);
    height: 1px;
    margin-top: 50px;
}
.number-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 80.5px auto;
    text-align: center;
    color: white;
}

.number-section h1{
    font-size: 3rem;
    font-style: bold;
    color: #00FF88;
    margin-bottom: 16px;
}

.why-container{
    margin: 120px auto;
    text-align: center;
}
.why-h{
    font-size: 2rem;
    color: white;
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
    margin: 0px 200px;
}
.card{
  background-color: rgba(53, 17, 100, 0.4);
  color: white;
  text-align: left;
  padding: 40px;
  border-radius: 40px;
}
.card h4{
    font-size: 1.5rem;
    margin: 16px 0;
}
.card-p{
    font-size: 1rem;
    font-weight: 400;
    width: 300px;
    height: 114px;
    opacity: .6;
}
#card-1 img{
   margin-top: 50px;
}
.card-p2{
    opacity: .6;
}
.card-p3{
    opacity: .6;
}
p{
    opacity: .6;
}
.card-p5{
    opacity: .6;
}
.card-p4 {
    opacity: .6;
}
#card-5{
    grid-row: span 1;
    grid-column: span 1;
}
#card-4{
    grid-row: span 1;
    grid-column: span 2;
}
#card-1{
    grid-row: span 2;
    grid-column: span 1;
}
#card-2{
    grid-row: span 1;
    grid-column: span 2;
}
#card-3{
    grid-row: span 1;
    grid-column: span 2;
}


.video-container{
    margin: 120px auto;
    text-align: center;
    color: white;
}


.video-h{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    text-align: center;
    justify-self: center;
    gap: 50px;
    margin: 0px 200px;
}
.video-section div{
    background-color: #230E3D;
    border-radius: 40px;
    text-align: left;
}
.link-yt{
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.video-section div p{
    margin: 16px;
}
.video-h3{
    margin: 16px;
}
.video-h4{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 400;
    margin: 16px;
}
.meet{
    justify-content: center;
}
.meet-container{
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}
.meet-section{
    display: flex;
    background-color: #230E3D;
    margin: 0 200px;
    padding: 40px;
    margin-bottom: 120px;
}
.meet-content{
    text-align: left;
    margin-left: 30px;
    place-content: center;
}
.meet-h{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.meet-content h3{
    color: white;
    font-size: 1.25rem;

}
.meet-content p{
    font-size: 1rem;
    color: white;
    opacity: .6;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}
.icon img{
    border: 1px solid rgba(251, 9, 180, 1);
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
}


.footer{
 
  background-image: url("../assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 200px;
}
.footer-content{
  text-align: center;
  color: white;
}

/* Logo */
.footer-logo{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-social span{
  color: white;
  background: none;
  -webkit-text-fill-color: white;
}
/* Social links */
.footer-social {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}


.footer-social a{
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  font-size: 14px;
  transition: color 0.3s;
}


/* Copyright */
.footer-copy{
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}
.social-item{
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .head-nav .threedot{
        display: block;
    }
    .hero{
        margin: 0 auto 50px;
    }
    .navbar nav, .navbar{
        display: none;
    }
    .number-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: 0;
    }
    .card{
        padding: 20px;
        width: 100%;
    }
    .video-section{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .meet-section{
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-social {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    }
    .footer{
        padding: 20px 40px;
    }
}