*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}  

body{
  width:100%;
  background-color: rgba(65, 37, 103, 1);
  
}

nav{
    height: 92px;
    margin: 0px 200px 0px 200px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-h1{
    color: rgba(255, 255, 255, 1);
    font-style: bold;
}
span{
    background: linear-gradient(rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgba(247, 233, 63, 1));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn:hover{
     background-color: #04692d;
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    
}
.link-parent a{
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-size: 16px;
    font-weight: 500px;
}