*{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
}  

body{
  width:100%;
  font-family: "Inter", sans-serif;
  /* background: linear-gradient(#412567,black); */
  background: #1A0B2E;
}

nav{
    height: 92px;
    margin: 0px 200px 0px 200px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-h1{
    color: rgba(255, 255, 255, 1);
    font-style: bold;
}
span{
    background: linear-gradient(rgba(251, 9, 180, 1),rgba(145, 0, 248, 1),rgba(247, 233, 63, 1));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 10px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn:hover{
     background-color: #04692d;
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    
}
.link-parent a{
    text-decoration: none;
    color: white;
    opacity: 0.9;
    font-size: 1rem;
    font-weight: 500px;
}
.hero-parent {
  height: 100vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  border: 1px solid #2A186C;
}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:100px;
    width: 100%;

}
.mic{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 100;
    justify-content: center;
    left: 710px;
    bottom: 365px;

}
.new-img{
    position: absolute;
    left: 130px;
    bottom: 170px;
}
.banner-head{
justify-content: center;
align-items: center;
gap: 8px;
}
.banner-h1{
    color: white;
    margin-top:40px;
    font-size: 3.75rem;
    font-weight: 800px;
}
.banner-p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
.actions{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 24px;
}
.btn1{
    width: 200px;
    height: 44px;
    padding: 12px 20px;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    gap: 5px;

}
.btn2{
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    color: #00FF88;
    background-color: transparent;
    border-color: #00FF88;
    border-radius: 10000px;
    font-weight: 400;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.about-section{
    margin: 50px 200px 120px 200px;
}

.about-content{
    text-align: center;
    color: white;
}

.about-h{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-p{
    font-weight: 200;
    margin-bottom: 45px;
    font-size: 1rem;
}
hr{
    border: none;
    background-color: rgba(255, 255, 255, 0.089);
    height: 1px;
    margin-top: 50px;
}
.number-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 80.5px auto;
    text-align: center;
    color: white;
}

.number-section h1{
    font-size: 3rem;
    font-style: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.why-container{
    margin: 200px 120px;
    text-align: center;
}
.why-h{
    font-size: 2rem;
    color: white;
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}
.card{
  background-color: rgba(53, 17, 100, 0.4);
  color: white;
  text-align: left;
  padding: 40px;
  border-radius: 40px;
}
.card h4{
    font-size: 1.5rem;
    margin: 16px 0;
}
.card-p{
    font-size: 1rem;
    font-weight: 400;
    width: 300px;
    height: 114px;
    opacity: .6;
}
#card-1 img{
   margin-top: 50px;
}
.card-p2{
    opacity: .6;
}
.card-p3{
    opacity: .6;
}
p{
    opacity: .6;
}
.card-p5{
    opacity: .6;
}
.card-p4 {
    opacity: .6;
}
#card-5{
    grid-row: span 1;
    grid-column: span 1;
}
#card-4{
    grid-row: span 1;
    grid-column: span 2;
}
#card-1{
    grid-row: span 2;
    grid-column: span 1;
}
#card-2{
    grid-row: span 1;
    grid-column: span 2;
}
#card-3{
    grid-row: span 1;
    grid-column: span 2;
}


.video-container{
    margin: 120px 200px;
    text-align: center;
    color: white;
}


.video-h{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    text-align: center;
    justify-self: center;
    gap: 50px
}
.video-section div{
    background-color: #230E3D;
    border-radius: 40px;
    text-align: left;
}
.link-yt{
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.video-section div p{
    margin: 16px;
}
.video-h3{
    margin: 16px;
}
.video-h4{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 400;
    margin: 16px;
}
.meet{
    justify-content: center;
}
.meet-container{
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}
.meet-section{
    display: flex;
    background-color: #230E3D;
    margin: 0 200px;
    padding: 40px;
    margin-bottom: 120px;
}
.meet-content{
    text-align: left;
    margin-left: 30px;
    place-content: center;
}
.meet-h{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.meet-content h3{
    color: white;
    font-size: 1.25rem;

}
.meet-content p{
    font-size: 1rem;
    color: white;
    opacity: .6;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}
.icon img{
    border: 1px solid rgba(251, 9, 180, 1);
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
}


.footer{
  height: 100%;
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content{
  text-align: center;
  color: white;
}

/* Logo */
.footer-logo{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-social span{
  color: white;
  background: none;
  -webkit-text-fill-color: white;
}
/* Social links */
.footer-social{
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 20px;
}

.footer-social a{
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  font-size: 14px;
  transition: color 0.3s;
}


/* Copyright */
.footer-copy{
  font-size: 13px;
  color: rgba(255,255,255,0.6);
}
.social-item{
    cursor: pointer;
}



